body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
}

canvas {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .col-md-9 {
    margin-bottom: 20px;
  }
  
  canvas {
    width: 100%;
    height: auto;
  }
}